header, main, footer{
    margin: 5% 0;
}

header{
    height: 15vh;
}
main{
    height: 80vh;
}
.text_import, .text_export{
    width: 100%;
    margin: 10%;
    position: relative;
    left: 0;
    display: block;
}
.text_import{
    height: 80%;
}
.text_export{
    height: 20%;
    margin-top: 5%;
}

.text_import textarea, .text_export textarea{
    width: 100%;
    margin: 0;
}

.label{
    width: 90%;
    height: 7%;
    display: block; 
    margin: 10px 0;
}

.criptografar{
    padding: 2% 45%;
}

footer p, .mensagem p, .text_alert p, .criptografar{
    font-size: 2vw;
}
.mensagem strong, ::placeholder, textarea{
    font-size: 3vw;
}

.text_alert span{
    padding: 1px 6px;
}

.copiar{
    font-size: 3vw;
    padding: 10px 20%;
}

@media (width <= 480px)
{
    .img{
        height: 100px;
    }
    header,main, footer{
        width: 98%;
    }
    footer{
        margin: 20% 0;
    }
    .text_import, .text_export{
        margin: 10% 0;
    }
    .text_import textarea {
        width: 98%;
    }
    .text_export textarea{
        width: 90%;
        height: 90%;
    }


    footer p, .mensagem p, .text_alert p, .criptografar, .descriptografar{
        font-size: 4vw;
    }
    .mensagem strong, ::placeholder, textarea{
        font-size: 4vw;
    }
}