@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    background-color: #E5E5E5;
}

header{
    height: 10vh;
    width: 100%;
}

.title_h1{
    color: #0A3871;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    margin: 0 100px;
    font-weight: bold;
}

main{
    position: relative;
    margin: 5vh 0 0 0 ;
    left: 50%;
    transform: translateX(-50%);
    height: 80vh;
    width: 80%;
    display:flex;
}

.text_import{
    width: 65%;
    height: 100%;
    margin: 0 5% 0 0;
}

.text_alert{
    margin: 10px;
}

.text_alert span{
    color: white;
    background-color: gray;
    padding: 1px 8px;
    border-radius: 10px;
}

.text_alert p{
    color: gray;
    font-size: 20px;
}

main .criptografar{
    padding: 20px 10%;
    font-family: 'Lato', sans-serif;
    background-color: #0A3871;
    color: white;
    border: transparent;
    border-radius: 20px;
    transition: 1s;
}

main .criptografar:hover{
    background-color: #0a3871b7;
}

main .descriptografar{
    padding: 20px 10%;
    font-family: 'Lato', sans-serif;
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px #0A3871 solid;
    border-radius: 20px;
    transition: 1s;
}
main .descriptografar:hover{
    background-color: #d8dfe857;
}

.area_input{
    background-color: transparent;
    border: transparent;
    resize: none;
    left: 0;
    width: 100%;
    height: 80%;
    margin: 0 10vh 0 0;

    font-family: 'Lato', sans-serif;
    color: #0A3871;
    font-size: 32px;
}

.text_export{
    position: absolute;
    right: 0%;
    width: 30%;
    height: 100%;
    text-align: center;
    
}

.text_export img{
    user-select:none;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 70%;
}

.area_export{
    background-color: white;
    border: transparent;
    border-radius: 20px;
    resize: none;
    width: 100%;
    height: 95%;

    font-family: 'Lato', sans-serif;
    color: #0A3871;
    font-size: 32px;
}

::placeholder {
    color: #0A3871;
    font-family: 'Lato', sans-serif;
    opacity: 1;
  }

  .copiar{
    padding: 20px 80px;
    font-family: 'Lato', sans-serif;
    color: #0A3871;
    border: 1px #0A3871 solid;
    border-radius: 20px;
    
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vh;
    display: none;
  }

  .copiar:hover{
    background-color: #0A3871;
    color: #D8DFE8;
  }

  .copiar:active{
    background-color: white;
    color: #0A3871;
  }

footer{
    width: 100%;
    height: 5vh;
    text-align: center;
    position: relative;
}

footer p{
    font-family: 'Lato', sans-serif;
    color: #0A3871;
    font-size: 20px;
}


footer img{
    height: 40px;
}

footer ul{
    display: inline-block;
    position: absolute;
    right: 0;
}

footer div{
    display: inline-block;
}

li{
    display: inline-block;
}

